[submodule "site-lisp/emacs-application-framework"]
	   path = site-lisp/emacs-application-framework
	url = https://github.com/plus-c-c/emacs-application-framework.git
[submodule "site-lisp/fingertip"]
	   path = site-lisp/fingertip
	   url = https://github.com/manateelazycat/fingertip
[submodule "site-lisp/lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
[submodule "site-lisp/auto-save"]
	path = site-lisp/auto-save
	url = https://github.com/manateelazycat/auto-save
[submodule "site-lisp/emacs-pet"]
	path = site-lisp/emacs-pet
	url = https://github.com/wyuenho/emacs-pet.git
